h3
{
  font-size: 25px !important;
}

.btn-info:hover
{
    background-color:blue ;
}

.btn-success:hover
{
    background-color: lightseagreen;
}

canvas
{
    animation-name: glowing;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes glowing
{
   from{box-shadow: 1px 1px 38px purple;};
   to{box-shadow: 1px 1px 38px blue;};
}